


.footer-algn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
}

section .content a:hover {
  font-size: 110%;
  color: #524747;
  transition: 0.3s;
}

.footerlink {
  margin: 10px;
}