/* .section {
  display: flex;
  margin: 20px 50px;
  align-items: center;
}

.title {
  font-size: 35px;
  color: var(--main-color);
  width: 25%;
}

.work-content {
  width: 75%;
  padding: 20px;
  border-left: #af9b9b solid 3px;
  display: grid;
  grid-gap:10px;
  grid-template-areas:
  'first-row first-row '
  'second-row third-row'
  'forth-row fifth-row';
} */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}